.r{
    color: red;
    font-weight: lighter;
   
}
.o{
    color: orangered;
    font-weight: lighter;
}
.y{
    color: yellow;
    font-weight: lighter;
}
.g{
    color: green;
    font-weight: lighter;
}
.b{
    color: blue;
    font-weight: lighter;
}
.c1{
    height: 200px;
    width: 200px;
}
.c2{
    height: 200px;
    width: 200px;
}
.c3{
    height: 200px;
    width: 200px;
}
.c4{
    height: 200px;
    width: 200px;
} 
.c5{
    height: 200px;
    width: 200px;
}
